:root.theme-dark {
  --highlight-color: #ff0070;
  --title-fill: #db00ff;
  --inverse-text: #000028;
  --base-text: #F1B2CE;
  --main-bg: #000028;
  --secondary-accent: var(--highlight-color);
}

.theme-dark .page .status-indicator{
  display: block;
}


.theme-dark .page {
  background-image: url('../images/cover-image-dark.png');
}