:root.theme-light {
  --highlight-color: #ff8dcb;
  --title-fill: #ffc2e6;
  --inverse-text: #000028;
  --base-text: #353430;
  --main-bg: #fff1f7;
  --secondary-accent: #353430;
}

.theme-light .page .status-indicator {
  display: none;
}

.theme-light .page {
  background-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {

  :root {
    --highlight-color: #ff8dcb;
    --title-fill: #ffc2e6;
    --inverse-text: #000028;
    --base-text: #353430;
    --main-bg: #fff1f7;
    --secondary-accent: #353430; 
  }

  .page {
    background-image: url('../images/cover-image-light.png');
  }

  .status-indicator {
    display: none;
  }
}